.List {

  margin: 1rem 0;

  .NoteListElement {
      border: 2px solid #E6E5D1;
      padding: 5px;
      position: relative;

      .Button{
        position: absolute;
        bottom: 0;
        margin-bottom: 15px;
        @media #{$media} and ($feature: $value) {
          position: relative;
          margin: 2rem 0;
        }

      }
  }

  .EventListElement{
    margin-top: 1.5rem;
  }
}