.SchoolPage {
    .imageCoverBlock {
        .Image {
            position: absolute;
            height: 100%;
            left: 0;
        }
        img.Image {
            opacity: 0.5;
        }
        .valign-wrapper {
            height: 100%;
            flex-wrap: wrap;

            .Text{
                z-index: 3
            }
        }
    }
}