nav{
    &.Navbar{
        background-color: #E6E5D1;
        color: black;

        .row{
            margin-bottom: 0;
        }
        a{
            color: #039be5;
            font-size: 0.6667rem;
        }

        i.material-icons{

            &.tiny{
                font-size: 1rem;
                line-height: 2.5rem;
                top: 0.2667rem;
                left: 0.1rem;
                transform: rotateY(180deg);
                margin: 0;
            }
            &.small{
                font-size: 2rem;
            }
            &.medium{
                font-size: 4rem;
            }
        }
    }
}