.Footer{
  background-color: #000;
  position: fixed;
  bottom: 0;
  height: 2.5rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  @media #{$media} and ($feature: $value) {
    height: 0rem;
  }

  &__text {
    color: #fff;
  }
}