.Input{
    position: relative;

    input{
        height: 1rem;
        width: calc((100% - 4px) - 2rem);
        border: 2px solid #797878;
        border-radius: 20px;
        padding: 0 1rem;
        color: #353232;
        text-align: center;
        font-size: 0.6667rem;

        @media #{$media} and ($feature: $value) {
            font-size: 2rem;
            height: 5.5rem;
        }

        &::placeholder{
            color: #797878;
            font-style: italic;
        }
    }
    input:not([type]), input[type=text]:not(.browser-default), input[type=password]:not(.browser-default), input[type=email]:not(.browser-default), input[type=url]:not(.browser-default), input[type=time]:not(.browser-default), input[type=date]:not(.browser-default), input[type=datetime]:not(.browser-default), input[type=datetime-local]:not(.browser-default), input[type=tel]:not(.browser-default), input[type=number]:not(.browser-default), input[type=search]:not(.browser-default), textarea.materialize-textarea{
        @extend input;
    }
    input:not([type]):focus:not([readonly]), input[type=text]:not(.browser-default):focus:not([readonly]), input[type=password]:not(.browser-default):focus:not([readonly]), input[type=email]:not(.browser-default):focus:not([readonly]), input[type=url]:not(.browser-default):focus:not([readonly]), input[type=time]:not(.browser-default):focus:not([readonly]), input[type=date]:not(.browser-default):focus:not([readonly]), input[type=datetime]:not(.browser-default):focus:not([readonly]), input[type=datetime-local]:not(.browser-default):focus:not([readonly]), input[type=tel]:not(.browser-default):focus:not([readonly]), input[type=number]:not(.browser-default):focus:not([readonly]), input[type=search]:not(.browser-default):focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]){
        @extend input;
        border-color: #353232;
        box-shadow: 0 0 0 0;
    }
    .material-icons{
        position: absolute;
        color: #797878;
        float: left;
        margin: -0.1rem 0.5rem;
        top: 0.2667rem;
        font-size: 1rem;
        line-height: 1.6rem;
    }
}