.Text{
    width: 100%;

    .main{
        color: black;
        font-size: 1rem;
    }
    .footnote{
        @extend .main;
        font-size: 0.6667rem;
    }
    .subheader{
        @extend .main;
        font-size: 1.25rem;
        margin: 0.5rem 0;
    }
    .header{
        @extend .main;
        font-size: 1.5rem;
    }
    .superHeader{
        @extend .main;
        font-size: 2.667rem;
    }
    .whiteText{
        @extend .main;
        color: white;
    }
    .italic{
        font-style: italic;
    }
    .bold{
        font-weight: bold;
    }
    .bolder{
        font-weight: bolder;
    }
}