.Text{
    width: 100%;

    .main{
        color: black;
        font-size: 1rem;
        @media #{$media} and ($feature: $value) {
            font-size: 4.5rem;
        }

    }
    
    .footnote{
        @extend .main;        
        color: white;
        font-size: 0.6667rem;
        @media #{$media} and ($feature: $value) {
            font-size: 2.3rem;
        }

    }
    .subheader{
        @extend .main;
        font-size: 1.25rem;
        margin: 0.5rem 0;
        @media #{$media} and ($feature: $value) {
            font-size: 3rem;
        }
    }
    .header{
        @extend .main;
        font-size: 1.5rem;
        @media #{$media} and ($feature: $value) {
            font-size: 6rem;
        }
    }
    .superHeader{
        @extend .main;
        font-size: 2.667rem;
        margin: 0;
        @media #{$media} and ($feature: $value) {
            font-size: 5rem;
            font-weight: 600;
            margin: 2.5rem 0;
        }
    }
    .whiteText{
        @extend .main;
        color: white;
        @media #{$media} and ($feature: $value) {
            font-size: 3.5rem;
            font-weight: 600;
        }
    }

    .helptext {
            font-size: 0.6667rem;
            @media #{$media} and ($feature: $value) {
                font-size: 2.3rem;
            }
    }
    .italic{
        font-style: italic;
    }
    .bold{
        font-weight: bold;
    }
    .bolder{
        font-weight: bolder;
    }
}
.maintext{
    color: black;
    font-size: 1rem;
    @media #{$media} and ($feature: $value) {
        font-size: 3.5rem;
    }

}