.Interview {
    .imageCoverBlock {
        position: relative;
        height: 432px;
        margin-top: -20px;
        width: 100%;
        text-align: center;
        .Image {
            position: absolute;
            height: 100%;
            left: 0;
        }
    }
    .Text {
        .question,
        .answer {
            text-indent: 2rem;
            margin: 1rem 0;

        }
    }
}