.GuestRoom {
    width: 90%;
    @media #{$media} and ($feature: $value) {
        width: 100%;
    }
    .Text{
        >p{
            >span{
                font-weight: normal;
                font-size: 1rem;
                @media #{$media} and ($feature: $value) {
                    font-size: 3.5rem;
                }
            }
        }
    }
    .ButtonContainer{
        margin-bottom: 0;
        @media #{$media} and ($feature: $value) {
            margin-bottom: 3rem;
        }
        &.sticky{
            position: fixed;
            left: 0;
            top: 80px;
            width: 100%;
            z-index: 99;
            @media #{$media} and ($feature: $value) {
                top: 10rem;
            }
        }
        .Button{
            width: 100%;
            top: 5rem;
            left: 0;
            z-index: 99;
    
            .bigBlackBtn{
                background: black;
                display: flex;
                align-content: center;
                justify-content: center;
    
                i{
                    color: white;
                    float: unset;
                    font-size: 2.4rem;
                    @media #{$media} and ($feature: $value) {
                        font-size: 11rem;
                        position: absolute;
                        left: 5rem;
                    }
                }
                p{
                    height: auto;
                    text-align: center;
                    vertical-align: middle;
                    padding: .5rem 0;
                    font-weight: 800;
                    font-size: 1rem;
                    position: relative;
                    @media #{$media} and ($feature: $value) {
                        width: 100%;
                        font-size: 4rem;
                        padding: 3.5rem 0;
                    }

                }
            }
        }
    }

    .List {
        width: 100%;
        margin: 0 -0.75rem;
        @media #{$media} and ($feature: $value) {
            width: 90%;
            margin: 0 auto;
        }
    }
    
    .QuestionCreator{
        background-color: #FFFFFF;
        padding: 0.5rem;
        margin: 0;
        height: auto;
        @media #{$media} and ($feature: $value) {
            padding: 0;
        }

        .Container{
            padding: 0.5rem 0;
            background-color: #E6E5D1;
            height: auto;
            display: block;
            @media #{$media} and ($feature: $value) {
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
            }

            input{
            //    background-color: white;
            }

            .Button button{
            //    padding: 0 2rem;
            }
            .captcha {
                display: block;
                @media #{$media} and ($feature: $value) {
                    display: flex;
                    justify-content: center;
                }
            }
        }
        .main {
            text-align: center;
        }
    }

    .modal.bottom-sheet{
        max-height: 65%;
        top: unset;
        min-height: unset;
        @media #{$media} and ($feature: $value) {
            min-height: 100vh;
            top: 0;
            max-height: unset;
        }
    }

    .modal .modal-content {
        padding: 24px;
        height: auto;
        @media #{$media} and ($feature: $value) {
            padding: 0;
            height: 100%;
        }
    }

    .TextArea {
        padding: 0 1.5rem;
    }
}

.GuestBook {
    margin-bottom: 0;
    @media #{$media} and ($feature: $value) {
        margin-bottom: 7rem;
    }

    .footnote:not(.bold) {
        text-align: initial;
        @media #{$media} and ($feature: $value) {
            text-align: right;
        }
    }
   
}

.GuestComment {
    .collapsible-header {
        font-size: inherit;
        @media #{$media} and ($feature: $value) {
            font-size: 2.5rem;
        }

        i {
            @media #{$media} and ($feature: $value) {
                width: 2.8rem;
                font-size: 2.8rem;
                padding-top: 0.5rem;
            }
        }
    }
}