.GuestRoom {
    .QuestionCreator{
        background-color: #FFFFFF;
        padding: 0.5rem;
    }
    >.Button{
        position: fixed;
        max-width: 9rem;
        top: 5rem;
        left: 0;
        z-index: 999999;

        p{
            height: auto;
        }
    }
}