.GuestRoom {
    width: 90%;
    @media #{$media} and ($feature: $value) {
        width: 100%;
    }

    &__stat {
        display: flex;
        justify-content: space-around;
        width: calc(100% - 5.5rem);
        margin: 1rem auto;
        @media #{$media} and ($feature: $value) {
            justify-content: space-between;
            width: calc(90% - 10px);
            margin: 3rem auto;
        }
    }

    &__statItem {
        width: 40%;
        @media #{$media} and ($feature: $value) {
            width: auto;
        }
    }

    .Text{
        >p{
            >span{
                font-weight: normal;
                font-size: 1rem;
                @media #{$media} and ($feature: $value) {
                    font-size: 4rem;
                }
            }
        }
    }
    .ButtonContainer{
        margin: 0;
        @media #{$media} and ($feature: $value) {
            width: calc(90% - 10px);
            margin: 0 auto 3rem;
        }
        &.sticky{
            position: fixed;
            left: 0;
            top: 64px;
            width: 100%;
            z-index: 99;
            @media #{$media} and ($feature: $value) {
                top: 56px;
            }
        }
        .Button{
            width: 100%;
            top: 5rem;
            left: 0;
            z-index: 99;
    
            .bigBlackBtn{
                background: black;
                display: flex;
                align-content: center;
                justify-content: center;
                margin-bottom: 1.25rem;
    
                i{
                    color: white;
                    float: unset;
                    font-size: 2.4rem;
                    margin-right: 15px;
                    @media #{$media} and ($feature: $value) {
                        font-size: 11rem;
                        position: absolute;
                        left: 5rem;
                        top: 10px;
                    }
                }
                p{
                    height: auto;
                    text-align: center;
                    vertical-align: middle;
                    padding: .5rem 0;
                    font-weight: 800;
                    font-size: 1rem;
                    position: relative;
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    @media #{$media} and ($feature: $value) {
                        font-size: 4rem;
                        padding: 2.5rem 0;
                    }

                }
            }
        }
    }

    .List {
        width: 100%;
        margin: 0 auto;
        padding: 0;
        @media #{$media} and ($feature: $value) {
            width: 90%;
            padding: 5px;
        }
    }
    
    .QuestionCreator{
        background-color: #FFFFFF;
        padding: 0.5rem;
        margin: 0;
        height: auto;
        @media #{$media} and ($feature: $value) {
            padding: 0;
        }

        .Container{
            padding: 0.5rem 0;
            background-color: #E6E5D1;
            height: auto;
            display: block;
            min-height: unset;
            @media #{$media} and ($feature: $value) {
                padding: 0;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                min-height: 100vh;
            }

            input{
            //    background-color: white;
            }

            .input {
                margin: 0 0 0 0;
                height: 26px;
                @media #{$media} and ($feature: $value) {
                    margin: 7px 0 20px 0;
                    height: 5.5rem;
                }
            }

            .Button button{
            //    padding: 0 2rem;
            }
            .captcha {
                display: block;
                @media #{$media} and ($feature: $value) {
                    display: flex;
                    justify-content: center;
                }

                & > div {
                    padding-left: 1.5rem;
                    @media #{$media} and ($feature: $value) {
                        padding-left: 0;
                    }
                }
            }
        }
        .main {
            text-align: center;
        }

        &__submit {
            min-height: 78px;
            @media #{$media} and ($feature: $value) {
                min-height: unset;
            }

            & > .Button {
                margin: 0 auto;
                width: auto;
                @media #{$media} and ($feature: $value) {
                    width: 100%;
                }
            }
        }

        &__close {
            align-self: flex-start;
        }
    }

    .modal.bottom-sheet{
        max-height: 65%;
        top: unset;
        min-height: unset;
        @media #{$media} and ($feature: $value) {
            min-height: 100vh;
            top: 0;
            max-height: unset;
        }
    }

    .modal .modal-content {
        padding: 24px;
        height: auto;
        @media #{$media} and ($feature: $value) {
            padding: 0;
            height: 100%;
        }
    }

    .TextArea {
        padding: 0 1.5rem;
        margin-top: 0.5rem;
        @media #{$media} and ($feature: $value) {
            margin-top: 0rem;
        }

    }
}

.GuestBook {
    margin-bottom: 0;
    @media #{$media} and ($feature: $value) {
        margin-bottom: 7rem;
    }

    .card {
        box-shadow: unset;
    }

    .card .card-content {
        padding: 10px;
        margin-bottom: 0.75rem;
        @media #{$media} and ($feature: $value) {
            padding: 15px;
            margin-bottom: 0;
        }
    }

    .card .card-action {
        border-top: none;
        padding: 16px 10px;
    }

    .footnote:not(.bold) {
    //    text-align: initial;
        @media #{$media} and ($feature: $value) {
    //        text-align: right;
        }
    }
   
}

.GuestComment {
    .collapsible-header {
        font-size: inherit;
        @media #{$media} and ($feature: $value) {
            font-size: 2.5rem;
        }

        i {
            @media #{$media} and ($feature: $value) {
                width: 2.8rem;
                font-size: 2.8rem;
                padding-top: 0.5rem;
            }
        }

        span {
            @media #{$media} and ($feature: $value) {
                font-weight: 600;
            }
        }
    }

    .collapsible-header:after {
        content: "";
        background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 320 512'%3E%3Cpath d='M143 352.3L7 216.3c-9.4-9.4-9.4-24.6 0-33.9l22.6-22.6c9.4-9.4 24.6-9.4 33.9 0l96.4 96.4 96.4-96.4c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9l-136 136c-9.2 9.4-24.4 9.4-33.8 0z'/%3E%3C/svg%3E") no-repeat;
        width: 15px;
        height: 15px;
        margin-left: 5px;
        position: relative;
        top: 7px;
        @media #{$media} and ($feature: $value) {
            top: 0;
        }
    }

    .collapsible-body {
        padding: 0.75rem;
    }

    .Comment {
        border-bottom: 1px solid rgba(160,160,160,0.2);
    }
}

.GuestPost {

    &__info {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.75rem;
        @media #{$media} and ($feature: $value) {
            flex-direction: column;
        }
    }

    &__infoItem {
        width: 30%;
        display: flex;
        @media #{$media} and ($feature: $value) {
            width: 100%;
        }
    }

    & .Text {
        width: auto;
        white-space: nowrap;
        & .footnote {
            font-size: 1rem;
            @media #{$media} and ($feature: $value) {
                font-size: 2.3rem;
            }
        }
    }
}

.Comment {
    &__info {
        display: flex;
        flex-direction: row;
        margin-bottom: 1.75rem;
        @media #{$media} and ($feature: $value) {
            flex-direction: column;
        }
    }

    &__infoItem {
        width: 30%;
        display: flex;
        @media #{$media} and ($feature: $value) {
            width: 100%;
        }
    }

    & .Text {
        width: auto;
        white-space: nowrap;
        & .footnote {
            font-size: 1rem;
            @media #{$media} and ($feature: $value) {
                font-size: 2.3rem;
            }
        }
    }
}