.Slider{
    &.slick-slider .slick-list, &.slick-slider .slick-track{
        width: 98%;
        left: 0;
        margin: auto; 
    }
    .Button{
        position: absolute;
        top: calc(50% - 2rem);

        &:nth-child(1){
            left: -2rem;
        }

        &:nth-child(3){
            right: -2rem;
        }
    }
}