.Slider{
    .Button{
        position: absolute;
        top: calc(50% - 2rem);

        &:nth-child(1){
            left: -2.5rem;
        }

        &:nth-child(3){
            right: -2.5rem;
        }
    }
}