.EventPage{

    &.row {
        padding: 5px;
        margin-top: 0;
        @media #{$media} and ($feature: $value) {
            padding: 0;
            margin-top: -0.7rem;
        }

        & > .col:nth-of-type(1) {
            padding: 0 .75rem;
            @media #{$media} and ($feature: $value) {
                padding: 0;
            }
        }

    }
    .Image{
        max-height: 23.53rem;
        max-width: 35.3rem;
        @media #{$media} and ($feature: $value) {
            max-height: 50vh;
            max-width: 100%;
        }
    }

    &__helptext {
        font-size: 0.6667rem;
        margin: 0;
        @media #{$media} and ($feature: $value) {
            font-size: 3.2rem;
            margin: 2rem 0;
        }
    }

    .row &__maintext {
        padding: 0 .75rem;
        @media #{$media} and ($feature: $value) {
            padding: 0 2.5rem;
        }
    }

    .bold {
        font-size: inherit;
        @media #{$media} and ($feature: $value) {
            font-size: 4rem;
        }
    }
}