.EventPage{

    &.row {
        padding: 5px;
        margin-top: 0;
        @media #{$media} and ($feature: $value) {
            padding: 0;
            margin-top: -0.7rem;
        }

        & > .col:nth-of-type(1) {
            padding: 0 .75rem;
            @media #{$media} and ($feature: $value) {
                padding: 0;
            }
        }

    }
    .Image{
        max-height: unset;
        max-width: 36rem;
        @media #{$media} and ($feature: $value) {
            max-height: 50vh;
            max-width: 100%;
        }
    }

    .bold {
        font-size: inherit;
        @media #{$media} and ($feature: $value) {
            font-size: 4rem;
        }
    }

    .row &__info {
        width: 100%;
        margin: 20px auto 0;
        padding: 0;

        @media #{$media} and ($feature: $value) {
            width: 100%;
            margin: 0;
        }

        & .col {
            padding: 0;
            @media #{$media} and ($feature: $value) {
                padding: 0 .75rem;
            }
        }

        & .Button {
            text-align: right;
        }
    }

    &__helptext {
        font-size: 0.85rem;
        margin: 0 0 0.5rem;
        @media #{$media} and ($feature: $value) {
            font-size: 3.2rem;
            margin: 2rem 0;
        }
    }

    .row &__maincontent {
        padding: 0 .75rem;
        @media #{$media} and ($feature: $value) {
            padding: 0 2.5rem;
        }
    }

    .row &__maintext {
        font-size: 1.25rem;
        @media #{$media} and ($feature: $value) {
            font-size: 4.5rem;
        }
    }

    & &__title {
        font-size: 1.85rem;
        line-height: 1;
        @media #{$media} and ($feature: $value) {
            font-size: 4rem;
        }
    }
    
    &__maintext > .TextSlider .Text > p {
        font-size: 1.25rem;
        line-height: 1.35;
        @media #{$media} and ($feature: $value) {
            font-size: 4.5rem;
        }
    }
}