.AdminPage {
    margin-left: 20%;
    top: 0;
    width: 80%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background: white;
    z-index: 10;
    .add-content {
        height: 170px;
        border-width: 2px;
        border-style: dashed;
        border-color: gray;
    }
    .edit-button {
        margin-top: 1.5rem
    }
}

.element {
    font-size: 15px;
}