.AdminPage {
    margin-left: 20%;
    top: 0;
    width: 80%;
    height: 100%;
    position: fixed;
    overflow: auto;
    background: white;
    z-index: 10;
}

.element {
    font-size: 15px;
}