.Note {
    .imageCoverBlock {
        position: relative;
        height: 18.83rem;
        margin-top: -0.58rem;   
        width: 100%;
        text-align: center;
        @media #{$media} and ($feature: $value) {
            min-height: 50vh;
            height: auto;
        //    margin-top: -0.7rem;
            margin-top: -2px;
        }
        .Image {
            position: absolute;
            height: 100%;
            left: 0;
        }
    }
    .Text {
        .question,
        .answer {
            text-indent: 2rem;
            margin: 1rem 0;

        }

        img{
            margin: 1rem 0;
        }
    }

    & > .container {
        width: calc(100% - 5.5rem);
    }

    .Text &__title {
        margin: 1rem 0;
    }
    .Text &__subtitle {
        font-size: 1rem;
    }
}

.noteBlock {

    margin-top: 1rem;

    & > .row {
        margin: 0;
    }

    .Text &__title {
        margin: 0rem 0 1rem;
    }
}