$media: screen;
$feature: max-width;
$value: 1100px;
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    overflow-x: hidden;
    p {
        margin: 0;
    }
    .row {
        padding: 5px;
    }
    .Main {
        @media #{$media} and ($feature: $value) {
            display: none;
        }
    }
    .UnderConstr {
        display: none;
        text-align: center;
        background-image: url('../assets/img/underconstruction.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;

        @media #{$media} and ($feature: $value) {
            display: block;
            height: 100vh;
            width: 100vw;
        }
    }
}

@import '../js/components/navbar/style.scss';
@import '../js/components/input/style.scss';
@import '../js/components/button/style.scss';
@import '../js/components/text/style.scss';
@import '../js/components/slider/style.scss';
@import '../js/components/textSlider/style.scss';
@import '../js/components/slide/style.scss';
@import '../js/components/image/style.scss';
@import '../js/components/sectionBlock/style.scss';
@import '../js/components/tagCloud/style.scss';
@import '../js/components/list/style.scss';
@import '../js/components/sidePanel/style.scss';
@import '../js/components/textArea/style.scss';

//Pages
@import '../js/pages/event/style.scss';
@import '../js/pages/school/style.scss';
@import '../js/pages/admin/style.scss';
@import '../js/pages/section/style.scss';
@import '../js/pages/note/style.scss';
@import '../js/pages/guestRoom/style.scss';