$media: screen;
$feature: max-width;
$value: 1100px;
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    overflow-x: hidden;
    p {
        margin: 0;
    }
    .row {
        padding: 5px;
    }
    .Main {
        @media #{$media} and ($feature: $value) {
            display: none;
        }
    }
    .UnderConstr {
        display: none;
        text-align: center;
        @media #{$media} and ($feature: $value) {
            display: block;
        }
    }
}

@import '../js/components/navbar/style.scss';
@import '../js/components/input/style.scss';
@import '../js/components/button/style.scss';
@import '../js/components/text/style.scss';
@import '../js/components/slider/style.scss';
@import '../js/components/textSlider/style.scss';
@import '../js/components/slide/style.scss';
@import '../js/components/image/style.scss';
@import '../js/components/sectionBlock/style.scss';
//Pages
@import '../js/pages/event/style.scss';
@import '../js/pages/school/style.scss';
@import '../js/pages/interview/style.scss';