$media: screen;
$feature: max-width;
$value: 1100px;
html {
    font-family: 'PT Sans', sans-serif;
    font-size: 26px;
    overflow-x: hidden;
    p {
        margin: 0;
    }
    .row {
        padding: 5px;
    }

    .landscape-dummy {
        display: none;
        overflow: hidden;
        background: #E6E5D1;
        width: 100vw;
        height: 100vh;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        &__title {
            font-size: 24px;
            width: 77%;
            text-align: center;
        }

        &__text {
            font-size: 16px;
            width: 55%;
            text-align: center;
        }

        &__img {
            width: 70px;
            transform: rotate(0deg);
            transition: all 0.8s cubic-bezier(.6,.34,.42,.71);
            &:hover {
                transform: rotate(360deg);
            }
        }
        @media #{$media} and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
            display: flex;
        }

    }

    @media #{$media} and (min-width:320px) and (max-width:767px) and (orientation:landscape) {
        overflow: hidden;
    }
}

.Afisha {

    &__head {
        width: 50%;
        @media #{$media} and ($feature: $value) {
            width: calc(90% - 10px);
        }
       
    }

    &__list {
        width: 97%;
        margin-top: 2rem;
        @media #{$media} and ($feature: $value) {
            width: calc(90% - 10px);
        }
        
    }

    &__item {
        border-top: 1px solid #000;
        display: flex;
        flex-direction: row;
        padding: 0;
        @media #{$media} and ($feature: $value) {
            flex-direction: column;
            padding: 2rem 0 4rem;
        }

    }

    &__datetime {
        width: 25%;
        padding: 0.85rem 0 1.2rem;
        display: flex;
        flex-direction: column;
        @media #{$media} and ($feature: $value) {
            flex-direction: row;
            width: 100%;
        }
    }

    &__date {
        font-size: 0.9rem;
        line-height: 1.5;
        margin-bottom: 1.15rem;
        width: auto;
        @media #{$media} and ($feature: $value) {
            width: 65%;
            font-size: 3.5rem;
        }
    }
    &__time {
        font-size: 1rem;
        line-height: 1;
        @media #{$media} and ($feature: $value) {
            font-size: 4rem;
        }
    }

    &__place {
        padding: 0.85rem 0 1.2rem;
    }

    &__city {
        font-size: 1.3rem;
        margin-bottom: 1.15rem;
        line-height: 1;
        @media #{$media} and ($feature: $value) {
            font-size: 5.5rem;
            margin-bottom: 4rem;
        }
    }

    &__name {
        font-size: 0.9rem;
        margin-bottom: 0.6rem;
        @media #{$media} and ($feature: $value) {
            font-size: 3.5rem;
        }
    }

    &__link {
        font-size: 0.7rem;
        color: #999999;
        text-decoration: none;
        @media #{$media} and ($feature: $value) {
            font-size: 2.5rem;
        }

        &:hover {
            text-decoration: underline;
        }
    }
}

.years {

    display: flex;
    justify-content: space-around;

    &__item {
        color: #000;
        font-size: 0.9rem;
        text-decoration: underline;
        @media #{$media} and ($feature: $value) {
            font-size: 3.5rem;
        }
        
        &--active, &:hover {
            text-decoration: none;
        }
    }
}

.material-tooltip{
    font-size: inherit;
    @media #{$media} and ($feature: $value) {
        font-size: 3rem;
    }
}

@mixin response($media, $feature, $value) {
	@media #{$media} and ($feature: $value) { @content; }
}

@import '../js/components/navbar/style.scss';
@import '../js/components/input/style.scss';
@import '../js/components/input/imageInput/style.scss';
@import '../js/components/button/style.scss';
@import '../js/components/text/style.scss';
@import '../js/components/slider/style.scss';
@import '../js/components/textSlider/style.scss';
@import '../js/components/slide/style.scss';
@import '../js/components/image/style.scss';
@import '../js/components/sectionBlock/style.scss';
@import '../js/components/tagCloud/style.scss';
@import '../js/components/list/style.scss';
@import '../js/components/sidePanel/style.scss';
@import '../js/components/textArea/style.scss';
@import '../js/components/guestComment/style.scss';
@import '../js/components/footer/style.scss';

//Pages
@import '../js/pages/main/style.scss';
@import '../js/pages/event/style.scss';
@import '../js/pages/school/style.scss';
@import '../js/pages/admin/style.scss';
@import '../js/pages/section/style.scss';
@import '../js/pages/note/style.scss';
@import '../js/pages/guestRoom/style.scss';