.SchoolPage {
    .imageCoverBlock {
        position: relative;
        height: 18.83rem;
        margin-top: -0.9rem;    
        width: 100%;
        text-align: center;
        .Image {
            position: absolute;
            height: 100%;
            left: 0;
        }
        img.Image {
            opacity: 0.5;
        }
        .valign-wrapper {
            height: 100%;
            flex-wrap: wrap;

            .Text{
                z-index: 3
            }
        }
    }
}