.Button {
    cursor: pointer;
    text-align: initial;
    @media #{$media} and ($feature: $value) {
        text-align: center;
    }
    button {
        border-radius: 20px;
        font-size: 0.6667rem;
        padding: 0 1rem;
        height: 1.5rem;
        line-height: 1.5rem;
        @media #{$media} and ($feature: $value) {
            border-radius: 30px;
            font-size: 3.3rem;
            padding: 2.6rem 4.5rem;
            height: unset;
        }
    }

    button.Button--fw {
        width: auto;
        padding: 0 1rem;
        margin: 0;
        @media #{$media} and ($feature: $value) {
            width: 97%;
            padding: 4rem 3.5rem;
            margin: 5.5rem 0 3rem;
            font-size: 4rem;
        }
    }
    
}

